build-*/
build-carteApt/
build-WebAptitude/
build-WebAptitudeDebug/
build-stationDescriptor/
carteApt/data/aptitudeEssDB.db-*
carteApt/data/carteFEE_NTpH.db-*
carteApt/carteApt.pro.*
cWebAptitude/cWebAptitude.pro.user.*
cWebAptitude/cWebAptitude.pro.user
data/tmp
data/auth*.db*
data/extents*.db*
data/cadastre.db*
data/analytics*.db*
stationDescriptor/stationDescriptor.pro.*
carteApt/*.autosave
stationDescriptor/*.autosave
cWebAptitude/*.autosave
