[Unit]
Description=Server WEB Forestimator de Jo Lisein.

[Service]
Type=simple
ExecStart=/bin/bash /data1/Forestimator/service/webaptitude.sh
Restart=always

[Install]
WantedBy=multi-user.target
