
.home_div {
	text-align:center;
	width: 800px;
	height: 400px;
}
.home_div a,button{
	width: 130px;
	margin:10px;
}

.carto_menu{
	background-image: url('../resources/DJI_0497_navbar.JPG');
	background-size: cover;
}
.carto_menu a{
	text-decoration: none;
}
.carto_menu span{
	font-size: larger;
}
.navbar-default .navbar-brand a:hover{
    color: white;	
}
.navbar-default .navbar-brand span:hover{
    color: white;	
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-nav li a {
    padding: 0px 0px 1px 0px;
	margin: 0;
}
.navbar-right{
	margin-bottom: -6px;
}

.tree_left{
	text-align:left;
	/*border: solid;
	border-width: thin;
	border-color: #76cc76;*/
}
.tree_node{
	font-weight: bold;
}
.visible{
	display:block;
}
.nonvisible{
	display:none;
}
.logo_left{
	float:left;
    top: 38px;
	position: relative;
}
.logo_right{
	float:right;
    top: 38px;
	position: relative;
}
.div_4stat{
    margin-bottom: 5px;
}

.checkbox span{
	vertical-align: -moz-middle-with-baseline;
}



/* Differents Div imbriqués */
.layout_main{

}

.cWebAptitude{

}

.content_info{
	padding: 6px 0px 6px 0px;
	margin: 0px;
}
.content_info_stack{

}
.content_analyse{

}

      .ol-popup {
        position: absolute;
        background-color: white;
        box-shadow: 0 1px 4px rgba(0,0,0,0.2);
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 280px;
      }
      .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
      }
      .ol-popup-closer:after {
        content: "✖";
      }

.loading-indicator{
background: white;
border: 3px solid #333333;
z-index: 10001; visibility: visible;
position: absolute; left: 50%; top: 50%;
margin-left: -50px; margin-top: -40px;
width: 150px; height: 150px;
font-family: arial,sans-serif;
text-align: center
}



.Wt-auth-login-container
{
	//display: none;
	position: absolute;
	z-index: 1;
	top: 200px;
	float: right;
	width: 100%;
}
.Wt-auth-login{
	width: 50%;
	background-color: white; //#d8ecd6;
	max-width: 600px;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
	border: green solid 1px;
}

input[type="checkbox"] {
  margin: 0;
}


.bouton_retour{
	float:right;
	position:absolute;
	top: 15px;
}

.div_extent{
	background-color: #eeeeee;
	margin:5px 15px 0px 15px;
}
.extent_inline{
	display:inline;
}
.extent_margin{
	margin: 0px 0px 0px 5px;
}
.navbar-nav .active a{
	padding-bottom: 1px;
}

.statWindow{
display:block;
}
