
.home_div {
	text-align:center;
	width: 800px;
	
}
.home_div a,button{
	width: 130px;
	margin:10px;
}

.carto_menu a{
	text-decoration: none;
}
.carto_menu span{
	font-size: medium;
}
.tree_left{
	text-align:left;
	border: solid;
	border-width: thin;
	border-color: #76cc76;
}
.tree_node{
	font-weight: bold;
}

.nonvisible{
	display:none;
}
.logo_left{
	float:left;
    top: 20px;
	position: relative;
}
.logo_right{
	float:right;
    top: 20px;
	position: relative;
}
.div_4stat{
    margin-bottom: 5px;
}

.checkbox span{
	vertical-align: -moz-middle-with-baseline;
}



/* Differents Div imbriqués */
.layout_main{

}

.cWebAptitude{

}

.content_info{
	padding: 6px 0px 6px 0px;
	margin: 0px;
}
.content_info_stack{

}
.content_analyse{

}
