
.home_div {
	text-align:center;
	width: 1000px;
	height: 400px;
}
.home_div a,button{
	width: 150px;
	margin:10px;
}

.carto_menu{
	background-image: url('../resources/DJI_0497_navbar.JPG');
	background-size: cover;
}
.carto_menu a{
	text-decoration: none;
}
.carto_menu span{
	font-size: larger;
}
.navbar {
	margin-bottom: 5px;
}
.navbar-default .navbar-brand a:hover{
    /*color: white;	*/
}
.navbar-default .navbar-brand span:hover{
    /*color: white;	*/
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-nav li a {
    padding: 0px 0px 1px 0px;
	margin: 0;
}
.navbar-right{
	//margin-bottom: -6px;
}

.tree_left{
	text-align:left;
	/*border: solid;
	border-width: thin;
	border-color: #76cc76;*/
}
.tree_node{
	font-weight: bold;
}
.visible{
	display:block;
}
.nonvisible{
	display:none;
}
.logo_left{
	float:left;
    top: 68px;
	position: relative;
}
.logo_right{
	float:right;
    top: 68px;
	position: relative;
}
.div_4stat{
    margin-bottom: 5px;
}

.checkbox span{
	vertical-align: -moz-middle-with-baseline;
}



/* Differents Div imbriqués */
.layout_main{

}

.cWebAptitude{

}

.content_couches{
	width:400px;

}

.menu_gauche{
	background-color:green;
	
}
.menu_gauche a{
	text-decoration: none;
}
.menu_gauche ul li a {
	padding:0px;
}
.nav-apt a,
.nav-apt a:hover,
.nav-apt a:focus {
  background-color: transparent;
  border-color: #337ab7;
}

.nav-apt > li.active > a,
.nav-apt > li.active > a:hover,
.nav-apt > li.active > a:focus {
  color: #555555;
  background-color: transparent;
  border: none;
  border-bottom-color: transparent;
  cursor: default;
}

.content_info{
	padding: 6px 0px 6px 0px;
	margin: 0px;
}
.content_info_stack{

}
.content_analyse{

}

      .ol-popup {
        position: absolute;
        background-color: white;
        box-shadow: 0 1px 4px rgba(0,0,0,0.2);
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 280px;
      }
      .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
      }
      .ol-popup-closer:after {
        content: "✖";
      }

.loading-indicator{
background: white;
border: 3px solid #333333;
z-index: 10001; visibility: visible;
position: absolute; left: 50%; top: 50%;
margin-left: -50px; margin-top: -40px;
width: 150px; height: 150px;
font-family: arial,sans-serif;
text-align: center
}



.Wt-auth-login-container
{
	//display: none;
	position: absolute;
	z-index: 1;
	//top: 200px;
	float: right;
	width: 90%;
}
.Wt-auth-login{
	//width: 50%;
	background-color: white; //#d8ecd6;
	max-width: 600px;
	//margin: auto;
	padding-left: 15px;
	padding-right: 15px;
	//border: green solid 1px;
}
.Wt-auth-login legend{
	display:none
}

input[type="checkbox"] {
  margin: 0;
}


.bouton_retour{
	float:right;
	position:absolute;
	top: 15px;
}

.div_extent{
	background-color: #eeeeee;
	margin:5px 15px 0px 15px;
	text-align: center;
}
.div_extent button {
	height: 25px;
	padding: 2px 2px;
	margin: 2px;
}
.extent_inline{
	display:inline;
	margin-top: 5px;
}
.extent_button{
	margin: 0px;
	width: 200.0px;
}
.navbar-nav .active a{
	padding-bottom: 1px;
}

.statWindow{
display:block;
}

.collapse_pres{
	cursor:pointer;
	background-image:url('/resources/folded.png');
	background-repeat: no-repeat;
	width: max-content;
	padding-left: 15px;
	margin: auto;
	background-position-y: 10px;
}


.fold {
	display: none;
	padding: 10px;
	//width: 280px;
	//height: 80px;
	//color: #999;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.stackfit {
	height: calc(100% - 60px);
}

.unfolder { display: none; }

.toggle-label {
	cursor: pointer;
	border-radius: 5px;
	font-size: 1.5em;
	line-height: 1.8;
	padding-bottom: 0px;
	margin: auto;
	width: max-content;
	color: #528B12;
	display: block;
}
.unfold-icon, .fold-icon {
  color: #999; 
  width: 15px;
  height: 15px;
  display: inline-block;
  background-position-y: 5px;
}
.unfold-icon {
	background-image:url('/resources/folded.png');
	background-repeat: no-repeat;
}
.fold-icon {
	background-image:url('/resources/unfolded.png');
	background-repeat: no-repeat;
}	
.unfolder ~ .fold {
  display: none;
}
.unfolder ~ label .fold-icon {
  display: none;
}

.unfolder:checked ~ .fold {
  display: block;
}
.unfolder:checked ~ label .fold-icon {
  display: inline-block;
}
.unfolder:checked ~ label .unfold-icon {
  display: none;
}

.submenuPresentation{
text-align: left;
}

.button_carto{
	width: 20px;
	padding:0px;
	margin:0px;
}
.button_carto img{
	width: 20px;
}

.movedown:after {
  display: inline-block;
  position: relative;
  content: "";
  top: -2px;
  right: 0;
  margin-left: 4px;
  width: 7px;
  height:7px;
  transform: rotate(45deg);
  border-right: 2px solid rgba(0,0,0,.9);
  border-bottom: 2px solid rgba(0,0,0,.9);
}
.moveup:after {
  display: inline-block;
  position: relative;
  content: "";
  top: 1px;
  right: 0;
  margin-left: 2px;
  width: 7px;
  height:7px;
  transform: rotate(45deg);
  border-left: 2px solid rgba(0,0,0,.9);
  border-top: 2px solid rgba(0,0,0,.9);
}

code{
	color: #286f14;
	background-color: transparent;
}
.alert {
    padding: 3px;
}
.ol-popup ul{
	padding-left: 15px;
}
.panier_table tr:first-child {
	font-weight: bold;
}

div.Wt-dialog {
    left: 40%;
    top: 40%;
}

.bold {
    font-weight: bold;
}

/*!
  Theme: Default
  Description: Original highlight.js style
  Author: (c) Ivan Sagalaev <maniac@softwaremaniacs.org>
  Maintainer: @highlightjs/core-team
  Website: https://highlightjs.org/
  License: see project LICENSE
  Touched: 2021
*/

/*
This is left on purpose making default.css the single file that can be lifted
as-is from the repository directly without the need for a build step
Typically this "required" baseline CSS is added by `makestuff.js` during build.
*/
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

code.hljs {
  padding: 3px 5px;
}
/* end baseline CSS */

.hljs {
  background: #F3F3F3;
  color: #444;
}

/* Base color: saturation 0; */

.hljs-subst {
  /* default */
}

/* purposely ignored */
.hljs-formula,
.hljs-attr,
.hljs-property,
.hljs-params {}

.hljs-comment {
  color: #697070;
}
.hljs-tag,
.hljs-punctuation {
  color: #444a;
}

.hljs-tag .hljs-name,
.hljs-tag .hljs-attr {
  color: #444;
}


.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta .hljs-keyword,

.hljs-doctag,
.hljs-name {
  font-weight: bold;
}


/* User color: hue: 0 */

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #880000;
}

.hljs-title,
.hljs-section {
  color: #880000;
  font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-operator,
.hljs-selector-pseudo {
  color: #ab5656;
}

/* Language color: hue: 90; */

.hljs-literal {
  color: #695;
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #397300;
}


/* Meta color: hue: 200 */

.hljs-meta {
  color: #1f7199;
}

.hljs-meta .hljs-string {
  color: #38a;
}


/* Misc effects */

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

